<div style="background-color:#1f2122" class="card">
  <h5 class="card-header">Orden</h5>
  <div class="card-body">
    <h5 class="card-title">Detalles</h5>
    <p class="card-text"><strong>Cliente: </strong><%= @current_user.full_name %></p>
    <p class="card-text"><strong>Id: </strong> <%= @current_user.id_number %></p>
    <p class="card-text"><strong>Pelicula: </strong> <%= Movie.find(@cinema.movie_id).name %></p>
    <div style="width: 300px;">
      <p>Escoge tu puesto</p>
      <p>Los rojos son general y los azules preferencial poner un aviso que lo diferencie</p>
      <% unless @product_order.paid? %>
        <%@cinema_places.each do |cinema_place| %>
          <button  onclick="process_place(<%= cinema_place.id %>, <%= @product_order.id %>)"  class="<%= if cinema_place.processing? then "btn btn-danger" elsif cinema_place.free? then 'btn btn-success' else "btn btn-danger" end %>"></button>
        <% end %>
      <% end %>
    </div>
    <p>Agrega productos a tu compra</p>
    <%= form_for(@product_order, url: multiplex_cinema_product_order_path(@multiplex.id, @cinema.id, @product_order.id)) do |f| %>
      <%= f.simple_fields_for :product_items do |p| %>
        <%= render "product_orders/product_item", f: p %>
      <% end %>

      <% if @product_order.state != "paid" %>
        <div class="links">
          <%= link_to_add_association 'Add product', f, :product_items, partial: 'product_orders/product_item' %>
        </div>
        <%= f.submit 'Pagar' %>
      <% else %>
        <p>La orden esta paga</p>
      <% end %>
    <% end %>
  </div>
</div>

<script>
    function process_place(id, order_id){
        let data = {
            id: id,
            order_id: order_id
        }
        fetch('/cinema_places/process',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        window.location.reload();
    }
</script>
